<html>
  <head>
    <title>Frame Test Suite Results</title>
  </head>
  <body>
    <div>
      <p> Hi ,</p>
      <p> Please find the attached report generated for the test suite available. </p>
      <p>{{message}}</p>
      <p>Regards</p>
    </div>
  </body>
</html>